/* カレンダー全体 */
#calendar {
    font-family: Arial, sans-serif;
    width: 580px;
    height: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  /* ヘッダー */
  #calendar th {
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    
  }
  
  /* 土曜日 */
  #calendar td:nth-child(7n+1) {
    color: blue;
  }
  
  /* 日曜日 */
  #calendar td:nth-child(7n) {
    color: red;
  }
  
  /* セル */
  #calendar td {
    width: 60px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  /* 営業している場合のセル */
  #calendar td.open {
    background-color: #a5d6a7;
  }
  
  /* 営業していない場合のセル */
  #calendar td.closed {
    background-color: #ef9a9a;
  }  
  
  /* #calendar td.closed {
    background-color: #a5d6a7;
  } */

  body {
    font-size: 16px;
    color: black;
    text-align: center;
  }